body { 
    background: linear-gradient(180deg, #FFCD0D, #3C68B0);
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
